Cython==0.23.2
PyYAML==3.11
# aerospike==1.0.55 --install-option="--lua-system-path=./env/local/lua/"
celery==3.1.18
falcon==0.3.0
funcsigs==0.4
futures==3.0.3
gunicorn==19.3.0
ipython==4.0.0
matplotlib==1.4.3
mock==1.0.1
nose==1.3.7
numpy==1.9.2
redis==2.10.3
schematics==1.1.0
scipy==0.16.0
six==1.9.0
